@model IEnumerable<TomarCampApp.Models.Funcionarios>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Funcionarios</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Criar Novo Funcionario", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.ActionLink(item.Nome, "Details", new { id = item.ID })
            @if ((User.IsInRole("Func") && item.Email.Equals(User.Identity.Name))|| User.IsInRole("Admin"))
            {

                <text>
                    | @Html.ActionLink("✏️", "Edit", new { id = item.ID })
                </text>
            }
        </td>
        
        <td>

           
            @if (User.IsInRole("Admin"))
            {
                <text>
                |
                @Html.ActionLink("🗑️", "Delete", new { id = item.ID })
                </text>
            }

            
        </td>
    </tr>
}

</table>
