@model TomarCampApp.Models.Pais

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Nome)</h4>
    <p>
        @Html.ActionLink("Adicionar Criança", "Create", "Criancas", new { id = Model.ID }, null)
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telemovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
        @foreach (var item in Model.ListaDeObjetosDeCriancas)
         {
        <tr>
            <td>
                @Html.ActionLink(item.Nome, "Details", "Criancas", new { id = item.ID }, null)
            </td>
        </tr>
         }

    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar à lista de Enc.Edu.", "Index")
</p>
