@model TomarCampApp.Models.Concretizacao

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Atividade.Nome</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atividade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atividade.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividade.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atividade.materiais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividade.materiais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicioConcretizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicioConcretizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFimConcretizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFimConcretizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

    </dl>
    <h4>Funcionários Responsáveis</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeObjetosDeFuncionario.First().Nome)
            </th>
        </tr>
        @foreach (var item in Model.ListaDeObjetosDeFuncionario)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nome, "Details", "Funcionarios", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @if (User.IsInRole("Func"))
    {
        @Html.ActionLink("✏️", "Edit", new { id = Model.ID })
        <text>|</text>
    }

    @Html.ActionLink("Voltar à Lista de Concretizações", "Index")
</p>
