@model TomarCampApp.Models.Concretizacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Concretizacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atividade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicioConcretizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicioConcretizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFimConcretizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFimConcretizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
