@model TomarCampApp.Models.IndexViewModel
@{
    ViewBag.Title = "Gestão de Conta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @(Model.HasPassword ? Html.ActionLink("Mudar Password", "ChangePassword")
                        : Html.ActionLink("Pick a password", "SetPassword")) |
            @if (User.IsInRole("Pai"))
            {
                @Html.ActionLink("Editar Dados", "Edit", "Pais", new { id = ViewBag.id }, null)
            }
            @if (User.IsInRole("Func"))
            {
                @Html.ActionLink("Editar Dados", "Edit", "Funcionarios", new { id = ViewBag.id }, null)
            }
        </p>

    </div>
</div>
