@model TomarCampApp.Models.PlanoDeAtividades

@{
    ViewBag.Title = "Details";
}

<h2>Lista de Planos de atividades</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicioPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataInicioPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFimPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataFimPA)
        </dd>

    </dl>

    <h4>Concretizações de Atividades</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaDeObjetosDeConcretizacao.First().Atividade.Nome)
            </th>
        </tr>
        @foreach (var item in Model.ListaDeObjetosDeConcretizacao)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Atividade.Nome, "Details", "Concretizacaos", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @if (User.IsInRole("Func"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) <text>|</text>
    }
    @Html.ActionLink("Voltar à lista", "Index")
</p>
