@model IEnumerable<TomarCampApp.Models.PlanoDeAtividades>

@{
    ViewBag.Title = "Planos de Actividades";
}

<h2>Planos de Actividades</h2>

<p>
    @Html.ActionLink("Criar plano de actividades", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Turno) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInicioPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataFimPA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

            @Html.ActionLink("Turno "+item.Turno, "Details", new { id = item.ID }) | @Html.ActionLink("✏️", "Edit", new { id = item.ID }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInicioPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataFimPA)
        </td>
    </tr>
}

</table>
