@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        li {
            display: block;
            transition-duration: 0.5s;
            padding-bottom:0px;
            margin-bottom:0px;
        }

        a{font-size: 13px}

            li:hover {
                cursor: pointer;
            }

        ul li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease; 
            
            display: none;
        }

            ul li:hover > ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }

            

            .dropdown{
                padding-left: 15px;
                padding-top: 0px;
                margin-top:0px;
            }

          
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TomarCamp", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Funcionários", "Index", "Funcionarios")</li>
                    @if (User.IsInRole("Func"))
                    {
                        <li>@Html.ActionLink("Encarregados de Educação", "Index", "Pais", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }
                    @if (User.IsInRole("Pai")||User.IsInRole("Func"))
                    {

                        <li>@Html.ActionLink("Crianças", "Index", "Criancas")</li>
                    }
                    <li class="contact">@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                    <li>
                        @Html.ActionLink("Atividades", "")
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Atividades", "Index", "Atividades")</li>
                            <li>@Html.ActionLink("Concretizações", "Index", "Concretizacaos")</li>
                            <li>@Html.ActionLink("Planos de Atividades", "Index", "PlanoDeAtividades")</li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
