@model IEnumerable<TomarCampApp.Models.Criancas>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Crianças</h2>

<p>
    @Html.ActionLink("Adicionar Criança", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        if (User.IsInRole("Pai"))
        {
            if (item.Pai.Email == ViewBag.mail)
            {
                <tr>

                    <td>


                        @Html.ActionLink(item.Nome, "Details", new { id = item.ID }) | @Html.ActionLink("✏️", "Edit", new { id = item.ID })
                    </td>


                </tr>
            }
        }
        else
        {
            <tr>

                <td>


                    @Html.ActionLink(item.Nome, "Details", new { id = item.ID }) | @Html.ActionLink("✏️", "Edit", new { id = item.ID })
                </td>


            </tr>
        }
    }

</table>
